body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-11xl: 30px;

  /* Colors */
  --color-darkslategray-100: #313131;
  --color-plum: #ffbfff;
  --color-purple: #78007a;
  --color-gainsboro: #d9d9d9;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-9xl: 28px;
  --padding-xl: 20px;
  --padding-10xl: 29px;

  /* Border radiuses */
  --br-15xl: 34px;
}
